@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  /* Primary colors */
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: rgb(220, 65, 76);
  /*----------*/

  /* Dark Them */
  --linear-gradient-dark: hsl(210, 78%, 56%), hsl(146, 68%, 55%);
  /*----------*/

  /* Light Theme */
  --color-light: hsl(230, 22%, 74%);
  /*----------*/

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  /* Dark Theme */
  --very-dark-blue-BG: hsl(230, 17%, 14%);
  --very-dark-blue-top-BG-pattern: hsl(232, 19%, 15%);
  --dark-desaturated-blue-card-BG: hsl(228, 28%, 20%);
  --desaturated-blue-text: hsl(228, 34%, 66%);
  /* Light Theme */
  --very-pale-blue-top-BG-pattern: hsl(225, 100%, 98%);
  --light-grayish-blue-card-BG: hsl(227, 47%, 96%);
  --light-grayish-blue-card-BG-hover: hsl(225, 26%, 91%);

  --dark-grayish-blue-text: hsl(228, 12%, 44%);
  --very-dark-blue-text: hsl(230, 17%, 14%);
  /*----------*/
}

/* Button color swich */

.theme-switch__input,
.theme-switch__label {
  position: absolute;
  top: 85px;
  right: 160px;
  z-index: 1;
}

.theme-switch__label {
  padding: 13px;
  transition: background-color 200ms ease-in-out;
  width: 50px;
  height: 5px;
  border-radius: 50px;
  text-align: center;
  background-image: linear-gradient(to right, var(--linear-gradient-dark));
}

.theme-switch__label span {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 20px;
  width: 100%;
}
.theme-switch__label span::after {
  position: absolute;
  top: calc(100% + 12px);
  left: -15px;
  width: 20px;
  height: 20px;
  content: "";
  border-radius: 50%;
  background-color: var(--white);
  transition: transform 200ms, background-color 200ms;
  box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
}

.theme-switch__input:checked ~ header {
  --very-pale-blue-top-BG-pattern: hsl(232, 19%, 15%);
  --very-dark-blue-text: white;
  --dark-grayish-blue-text: hsl(228, 34%, 66%);
}

.theme-switch__input:checked ~ section {
  --light-grayish-blue-card-BG: hsl(228, 28%, 20%);
  --dark-grayish-blue-text: hsl(228, 34%, 66%);
  --very-dark-blue-text: white;
  --light-grayish-blue-card-BG-hover: hsl(229, 25%, 26%);
  /* --dark-grayish-blue-text: white; */
  background-color: var(--very-dark-blue-BG);
}

.theme-switch__input:checked ~ footer {
  --very-dark-blue-BG: var(--lime-green);
}

.theme-switch__input:checked ~ .theme-switch__label span::after {
  transform: translateX(22px);
}

/*-----------------*/

body {
  background-color: var(--white);
}

header {
  background-color: var(--very-pale-blue-top-BG-pattern);
  font-size: 1em;
  border-radius: 0px 0px 25px 25px;
  height: 300px;
  width: 100%;
  padding: 50px 150px 0px;
  display: flex;
  justify-content: space-between;
}

main {
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
}

section {
  padding-left: 150px;
  padding-right: 150px;
}

h1 {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--very-dark-blue-text);
}

h3 {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--dark-grayish-blue-text);
  font-size: 1.5em;
}

.container__theme-switch {
  height: fit-content;
  margin-top: 25px;
  margin-right: 80px;
  font-family: "Inter", sans-serif;
}

.container__theme-switch p {
  color: var(--desaturated-blue-text);
  font-weight: 600;
}

.container__title p {
  font-family: "Inter", sans-serif;
  color: var(--dark-grayish-blue-text);
  margin-top: 7px;
}

.global-results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: -110px;
  height: 350px;
}

.card {
  width: 100%;
  max-height: 230px;
  background-color: var(--light-grayish-blue-card-BG);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 0 1%;
  font-family: "Inter", sans-serif;
}

.card:hover,
.card-2:hover {
  background-color: var(--light-grayish-blue-card-BG-hover);
  cursor: pointer;
}

.card__border-fb {
  border-top: 5px solid hsl(203, 89%, 53%);
}

.card__border-tw {
  border-top: 5px solid hsl(195, 100%, 50%);
}

.card_border-inst {
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) 1;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-radius: 5px;
}

.card__border-yt {
  border-top: 5px solid hsl(348, 97%, 39%);
}

.card__user-name {
  display: flex;
  width: fit-content;
  color: var(--dark-grayish-blue-text);
  font-weight: 600;
}

figure {
  margin-left: 0;
  margin-right: 7px;
}

.total-number {
  margin: 0;
  font-size: 4em;
  font-weight: 700;
  color: var(--very-dark-blue-text);
}

.followers-title {
  letter-spacing: 5px;
  font-size: 0.7em;
  color: var(--dark-grayish-blue-text);
}

.percentage-up {
  color: var(--lime-green);
}

.percentage-down {
  color: var(--bright-red);
}

.total-percentage span img {
  margin-bottom: 2px;
}

.overview-results {
  padding-bottom: 50px;
}

.card-2__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.card-2 {
  background-color: var(--light-grayish-blue-card-BG);
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  padding: 10px 15px;
}

.card-2__title,
.card-2__results {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-2__title p {
  color: var(--dark-grayish-blue-text);
  font-weight: 600;
}

.card-2__results p:first-child {
  font-size: 2.5em;
  font-weight: 700;
  margin: 0;
  color: var(--very-dark-blue-text);
}

.card2__total-percentage span img {
  margin-right: 3px;
  margin-bottom: 2px;
}

footer {
  background-color: var(--very-dark-blue-BG);
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  margin: 0;
}

footer .attribution {
  text-align: center;
  color: var(--white);
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attribution a {
  text-decoration: none;
  color: var(--white);
}

.attribution a:hover {
  color: var(--bright-red);
}

/* @media (min-width: 1024px) and (max-width: 1440px) {
  body {
    height: 1366px;
  }
  .theme-switch__input,
  .theme-switch__label {
    top: 85px;
    right: 60px;
  }

  header {
    padding-left: 50px;
    padding-right: 50px;
  }
  section {
    padding: 50px;
  }
  .global-results {
    margin-top: -150px;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: -110px;
    height: 350px;
  }
  .card {
    padding: 20px;
  }

  figure {
    margin: 0 5px;
  }

  .card__user-name p {
    font-size: 0.8em;
    margin: 0;
  }

  .total-number {
    font-size: 3em;
    margin-top: 20px;
  }

  .card-2__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 30px;
  }

  .card-2__title p {
    margin: 0;
  }

  .card-2__results {
    margin-top: 10px;
    font-size: 0.7em;
  }
} */

@media (min-width: 768px) and (max-width: 1024px) {
  .theme-switch__input,
  .theme-switch__label {
    top: 85px;
    right: 60px;
  }

  header {
    padding-left: 50px;
    padding-right: 50px;
  }
  section {
    padding: 50px;
  }
  .global-results {
    margin-top: -150px;
    height: fit-content;
  }
  .card {
    padding: 20px;
  }

  figure {
    margin: 0 5px;
  }

  .card__user-name p {
    font-size: 0.8em;
    margin: 0;
  }

  .total-number {
    font-size: 3em;
    margin-top: 20px;
  }

  .card-2__title p {
    margin: 0;
  }

  .card-2__results {
    margin-top: 10px;
    font-size: 0.7em;
  }
}

@media (min-width: 414px) and (max-width: 768px) {
  .theme-switch__input,
  .theme-switch__label {
    top: 85px;
    right: 30px;
  }

  header {
    padding: 50px 25px 0px;
    width: 100%;
  }

  section {
    width: 100%;
    padding: 25px;
  }

  .container__theme-switch {
    margin-top: 40px;
    margin-right: 100px;
    font-family: "Inter", sans-serif;
  }

  .container__theme-switch p {
    font-size: 1em;
    margin: 0;
  }

  .global-results {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    width: 100%;
    margin-top: -100px;
    bottom: 0;
    height: 100%;
  }

  .container__title p {
    font-size: 16px;
    margin-top: 10px;
  }

  .card {
    margin: 0 auto 25px;
    padding: 10% 0 2%;
    max-height: 330px;
  }

  .overview-results {
    margin-top: -25px;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .card-2__container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }

  .card-2 {
    width: 45vw;
  }

  .card-2:nth-last-child(-n + 2) {
    margin: 0 auto 25px;
  }
}

@media (min-width: 320px) and (max-width: 414px) {
  .theme-switch__input,
  .theme-switch__label {
    top: 160px;
    right: 30px;
  }

  body {
    padding: 0;
  }

  header {
    font-size: 13px;
    padding: 40px 25px 40px;
    height: 300px;
    display: block;
    width: 100%;
  }

  section {
    width: 100%;
    padding: 0;
  }

  main {
    padding: 0;
  }

  h3 {
    margin-left: 25px;
    font-size: 1.2em;
  }

  .container__theme-switch {
    border-top: solid 1px var(--dark-grayish-blue-text);
    padding-top: 30px;
    width: 100%;
  }

  .container__theme-switch p {
    font-size: 1.3em;
    margin: 0;
  }

  .global-results {
    display: block;
    margin-top: -70px;
    bottom: 0;
    height: 100%;
  }

  .container__title p {
    font-size: 16px;
    margin-top: 10px;
  }

  .card {
    width: 85vw;
    margin: 0 auto 25px;
    padding: 10% 0 2%;
    max-height: 330px;
  }

  .overview-results {
    margin-top: -25px;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .card-2__container {
    display: block;
  }

  .card-2 {
    width: 85vw;
    margin: 0 auto 25px;
  }
}
