:root {
  /* Primari colors */
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: rgb(220, 65, 76);
  /*----------*/

  /* Dark Them */
  --linear-gradient-dark: hsl(210, 78%, 56%), hsl(146, 68%, 55%);
  /*----------*/

  /* Light Theme */
  --color-light: hsl(230, 22%, 74%);
  /*----------*/

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  /* Dark Theme */
  --very-dark-blue-BG: hsl(230, 17%, 14%);
  --very-dark-blue-top-BG-pattern: hsl(232, 19%, 15%);
  --dark-desaturated-blue-card-BG: hsl(228, 28%, 20%);
  --desaturated-blue-text: hsl(228, 34%, 66%);
  /* Light Theme */
  --very-pale-blue-top-BG-pattern: hsl(225, 100%, 98%);
  --light-grayish-blue-card-BG: hsl(227, 47%, 96%);
  --dark-grayish-blue-text: hsl(228, 12%, 44%);
  --very-dark-blue-text: hsl(230, 17%, 14%);
  /*----------*/
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  background-color: var(--white);
}

header {
  background-color: var(--very-pale-blue-top-BG-pattern);
}

h1 {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--very-dark-blue-text);
}

h3 {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--dark-grayish-blue-text);
}

.container__title p {
  font-family: "Inter", sans-serif;
  color: var(--dark-grayish-blue-text);
}

.card {
  background-color: var(--light-grayish-blue-card-BG);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 0 2%;
  font-family: "Inter", sans-serif;
}

.card__border-fb {
  border-top: 5px solid hsl(203, 89%, 53%);
}
.card__border-tw {
  border-top: 5px solid hsl(195, 100%, 50%);
}
.card_border-inst {
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) 1;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.card__border-yt {
  border-top: 5px solid hsl(348, 97%, 39%);
}

.card__user-name {
  display: flex;
  width: fit-content;
  color: var(--dark-grayish-blue-text);
  font-weight: 600;
}

figure {
  margin-left: 0;
  margin-right: 7px;
}

.total-number {
  margin: 0;
  font-size: 4em;
  font-weight: 700;
  color: var(--very-dark-blue-text);
}

.followers-title {
  letter-spacing: 5px;
  font-size: 0.7em;
  color: var(--dark-grayish-blue-text);
}

.percentage-up {
  color: var(--lime-green);
}
.percentage-down {
  color: var(--bright-red);
}

.total-percentage span img {
  margin-bottom: 2px;
}

.card-2 {
  background-color: var(--light-grayish-blue-card-BG);
  border-radius: 5px;
  padding: 10% 0 2%;
  font-family: "Inter", sans-serif;
  padding: 10px 15px;
}

.card-2__title,
.card-2__results {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-2__title p {
  color: var(--dark-grayish-blue-text);
  font-weight: 600;
}

.card-2__results p:first-child {
  font-size: 2.5em;
  font-weight: 700;
  margin: 0;
  color: var(--very-dark-blue-text);
}

.card2__total-percentage span img {
  margin-right: 3px;
  margin-bottom: 2px;
}

@media (max-width: 375px) {
  body {
    padding: 0 0 10px;
  }

  header {
    padding: 40px 25px;
    font-size: 13px;
    border-radius: 0px 0px 25px 25px;
    padding-bottom: 50px;
    height: 290px;
    width: 100%;
  }

  h3 {
    margin-left: 25px;
  }

  .global-results {
    position: relative;
    top: -70px;
    bottom: 0;
  }

  .container__title p {
    font-size: 16px;
  }

  .container__theme-switch {
    border-top: solid 1px var(--dark-grayish-blue-text);
    padding-top: 20px;
  }

  .card {
    width: 85vw;
    margin: 0 auto 25px;
  }

  .overview-results {
    margin-top: -50px;
  }

  .overview-results div:first-of-type {
    margin-top: 30px;
  }

  .card-2 {
    width: 85vw;
    margin: 0 auto 25px;
  }
}
